@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222222;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li{
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}
.carousel-inner img{
    width: 100%;
    height: 100%; 
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary {
    background-color: #37f;
    border: 1px solid #37f;
}
.btn-primary:hover {
    background-color: rgb(3, 12, 247);
    border:1px solid rgb(3, 12, 247);
}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
.padding {
    padding-bottom: 2rem;
}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.social a {
    font-size: 1.5em;
    padding: 3rem;
    margin-top: 2em;
}
.fa-facebook{
    color: #3b5998;
    margin-top: 1em;
}
.fa-google{
    color: #dd4b39;
}
.fa-instagram{
    color: #517fa4;
}
.fa-whatsapp{
    color: green;
}
.fa-facebook:hover,.fa-google:hover, .fa-instagram:hover, .fa-whatsapp:hover {
    color: #d5d5d5;
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a{
    color: #d5d5d5;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}